//
   Created by adam on 12/25/13.
doctype html
html
    meta(name='viewport' content='width=device-width')
    head
        title surespot autoinvite
link(rel='stylesheet', href='/stylesheets/style.css')
body

    .logo
        img.logo(src='/images/surespot_logo_web.png' alt='surespot logo')
    .text
        p
            | Unfortunately all beta testing positions have been filled. surespot will be released to the app store soon!
            br
            br
            a(href='surespot://autoinvite/#{username}') click here
            | &nbsp;to invite #{username} if you already have surespot installed






